body {
  background-image: url("images/bokeh-heart-light.jpg");
  font-family: 'Raleway', sans-serif;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: gray;
}

#user_profile_box {
  display: inline-block;
  background-color: #99bbff;
  border: 1px solid #42464b;
  border-radius: 6px;
}

#user_profile_box a {
  color: white;
}

#formcontainer {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  margin: 20px auto 0;
  width: 180px;
  text-align: center;
}

#textcontainer {
  background-color: #99bbff;
  color: white;
  border-radius: 2em;
  margin-left: 20%;
  margin-right: 20%;
  opacity: 0.95;
}

#textcontainer p {
  margin: 2em;
}

#ButtonContainer {

  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  background-color: #99bbff;
  border-radius: 2em;
  margin-left: 35%;
  margin-right: 35%;
  opacity: 0.95;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  color: white;
  text-align: center;
}

ul li:last-child {
  border-bottom: none
}


/* Modal Content/Box */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color: black;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
