body {
  background-color: lightblue;
  color: DarkSlateGray;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: gray;
}

#user_profile_box {
  display: inline-block;
  background-color: beige;
}

.buttons {
  display: inline-block;
}
