<h1>Affirmations that <%=@profile.username%> has written.</h1>
<% @profile.affirmations.each do |affirmation| %>
  <div>
    <%= affirmation.content %>
  </div>
<% end %> <br>

<footer>
  <a href= '/home'>Home </a> or <a href= '/logout'>Log Out</a>
</footer>
