<%= current_user.username %><br>
<%# current_user.friends.count %>
<a href='/affirmations/index'><%= current_user.affirmations.count %> Written Affirmations</a><br>
<a href='/affirmations/new'> Create New Affirmation </a>

<h1> Daily Affirmations </h1>
<% @dailyaffirmations.each do |affirmation| %>
<div>
  <%= affirmation.content %>
</div>
<%end%>

<!-- Will implement once I get like system in.
<h1> Liked Affirmations </h1>
-->

<a href='/logout'>Log Out</a>
