<h1>Everyone's Affirmations</h1>
<% @affirmations.each do |affirmation| %>
  <div>
    <a href= "/affirmations/<%= affirmation.id %>"> <%= affirmation.content %> </a>
  </div>
<%end%><br>
<footer>
  <a href='/home'> Home </a> or <a href='/logout'>Log Out</a>
</footer>
