<h1>Everyone's Affirmations</h1>
<% @affirmations.each do |affirmation| %>
  <div>
    <a href= "/affirmations/<%= affirmation.id %>"> <%= affirmation.content %> </a>
  </div>
<%end%><br>
<a href='/home'> <%= current_user.username%>'s Profile' </a> or <a href='/logout'>Log Out</a>
