<h1>Affirmations that <%=current_user.username%> has written.</h1>
<% current_user.affirmations.each do |affirmation| %>
  <div>
    <%= affirmation.content %>
  </div>
<% end %> <br>
<a href='/home'> <%= current_user.username%>'s Profile' </a> or <a href='/logout'>Log Out</a>
