
<div id= 'flash'>
<%if flash[:message] %>
  <%= flash[:message] %>
<% end %>
</div>

<h1>Welcome to Write to Be</h1>
<h2 style="text-align: center;">About</h2>
<p>Welcome to Write to Be! This site is intended to be a way to be a way to create and view positive affirmations from people throughout the world. There are many times where life's got you down, and a simple "You got this!" or "You aren't alone" can be the thing that keeps you going.</p>
<p>With Write to Be, you will be able to register an account and start seeing daily affirmations and start creating your own for others to view. If you like a certain affirmation, you can like it, and if you and another user likes each other's affirmations, there will be an option to friend and communicate with that user! We want to help build a supportive and positive community through Write to Be, and what can be a better way to do this than by creating these friendships.</p>

<a href='/register'> Register</a> or <a href='/login'>Log In</a>
