<!doctype html>
<html>
  <head>
    <title>Write to Be</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/sitewide.css')%>">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>

    <%= yield %>

  </body>

<footer>
</footer>
</html>
