<!doctype html>
<html>
  <head>
    <title>Write to Be</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/sitewide.css')%>">
  
  </head>
  <body>

    <%= yield %>

  </body>

<footer>
</footer>
</html>
